{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Travel Blog</title><!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="assets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-8o5mZjK13GFPT9KSX27+cJYD5L2tuCwIjz9OW6OQv6qrZ+zRb1+X9jO6anvtO6z1" crossorigin="anonymous">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Travel Blog</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="index.html" title="Home"
            aria-label="Go to Home Page (opens in current tab)">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="past-meets.html" title="Gallery"
            aria-label="Go to Gallery page (opens in current tab)">Gallery</a>
        </li>
        <li>
          <a class="nav-link" href="game.html" title="Game" aria-label="Go to Game page (opens in current tab)">Game</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup.html" title="Sign Up"
            aria-label="Go to Sign up Page (opens in current tab)">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="schedule.html" title="Schedule"
            aria-label="Go to Schedule Page (opens in current tab)">Schedule</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Travel Blog!</h1>
      <p class="lead">Share your travel experiences with the world.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Latest Posts</h2>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4"><img src="https://via.placeholder.com/300" class="card-img" alt="..."></div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Post Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac elit vel elit
                  interdum ultrices vel vel elit. Praesent eu lacinia turpis. Sed eget elit nec mauris pretium interdum.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4"><img src="https://via.placeholder.com/300" class="card-img" alt="..."></div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Post Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac elit vel elit
                  interdum ultrices vel vel elit. Praesent eu lacinia turpis. Sed eget elit nec mauris pretium interdum.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h2>Upcoming Events</h2>
        <h6>Sign up <i>here to register</i></h6>
        <div class="card mb-3">
          <i><img src="https://via.placeholder.com/300" class="card-img-top" alt="..."></i>
          <div class="card-body"></div>
        </div>
      </div>
      <footer class="bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h3 class="text-white">About Us</h3>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis bibendum, velit eget
                posuere euismod, mauris dui accumsan turpis, et commodo tortor velit ac mauris.</p>
            </div>
            <div class="col-md-3">
              <h3 class="text-white">Categories</h3>
              <ul class="list-unstyled">
                <li><a href="#" class="text-muted">Adventure</a></li>
                <li><a href="#" class="text-muted">Food</a></li>
                <li><a href="#" class="text-muted">Culture</a></li>
                <li><a href="#" class="text-muted">Nature</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="text-white">Useful Links</h3>
              <ul class="list-unstyled">
                <li><a href="#" class="text-muted">Privacy Policy</a></li>
                <li><a href="#" class="text-muted">Terms of Use</a></li>
                <li><a href="#" class="text-muted">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="text-white">Follow Us</h3>
              <ul class="list-unstyled">
                <li><a href="https://facebook.com/passportpowell" class="text-muted"><i
                      class="fab fa-facebook fa-lg"></i> Facebook</a></li>
                <li><a href="https://twitter.com" class="text-muted"><i class="fab fa-twitter fa-lg"></i> Twitter</a>
                </li>
                <li><a href="https://instagram.com/passportpowell/" class="text-muted"><i
                      class="fab fa-instagram fa-lg"></i> Instagram</a></li>
                <li><a href="https://youtube.com/otisofro2" class="text-muted"><i class="fab fa-youtube fa-lg"></i>
                    Youtube </a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

      <!-- jQuery and Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs%20%20%3Cscript%20src=" crossorigin="anonymous"></script>
    </div>
  </div>
</body>

</html>