{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Events - Travel Blog</title><!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Travel Blog</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="index.html" title="Home" aria-label="Go to Home Page (opens in current tab)">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="past-meets.html" title="Gallery" aria-label="Go to Gallery page (opens in current tab)">Gallery</a>
                </li>
                <li>
                  <a class="nav-link" href="game.html" title="Game" aria-label="Go to Game page (opens in current tab)">Game</a>
        
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="signup.html" title="Sign Up" aria-label="Go to Sign up Page (opens in current tab)">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="schedule.html" title="Schedule" aria-label="Go to Schedule Page (opens in current tab)">Schedule</a>
                </li>
              </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Upcoming Events</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/300/200" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Event 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur
                            luctus odio, eu bibendum nulla varius id.</p><a href="#"
                            class="btn btn-primary btn-block">Attend</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/300/200" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Event 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur
                            luctus odio, eu bibendum nulla varius id.</p><a href="#"
                            class="btn btn-primary btn-block">Attend</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/300/200" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Event 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur
                            luctus odio, eu bibendum nulla varius id.</p><a href="#"
                            class="btn btn-primary btn-block">Attend</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>